<html lang='en'>

  <head>

    <title>Diabetes@Home | {{title}}</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial_scale=1.0' />
    <meta name='author' content='Gerald, Brian, Ivan, Steven, James' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />

  </head>

  <body>

    <header>
      <nav class='navbar'>
        <a href='/' class='logo'>
          <h3>Diabetes<br />@Home</h3>
        </a>

        <!-- a hambuger menu icon that shows up in mobile screen -->
        <div class='dropdown'>
          <button><i class='fa fa-bars toggle'></i></button>
          <div class='click-dropdown-content dropdown-right'>
            {{#if loggedin}}
              <a class='nav-options' href='/'>Dashboard</a>
              <a class='nav-options' href='/patient/leaderboard'>Leaderboard</a>
              <a class='nav-options' href='/patient/settings'>Settings</a>
            {{/if}}
            <a class='nav-options' href='#'>About Diabetes</a>
            <a class='nav-options' href='#'>About Website</a>
            {{#if loggedin}}
            <form class='logout' action='/logout' method='post'>
              <input class='btn' type='submit' value='Logout' />
            </form>
            {{else}}
              <a class='btn' href='/login'>Login</a>
            {{/if}}
          </div>
        </div>

        <!-- a sub navbar container that house the links -->
        <div class='nav-content-container'>
          <ul>
            {{#if loggedin}}
              <li><a class='nav-options' href='/'>Dashboard</a></li>
              <li><a class='nav-options' href='/patient/leaderboard' >Leaderboard</a></li>
              <li><a class='nav-options' href='/patient/settings' >Settings</a></li>
            {{/if}}

            <!-- add a dropdown option for learn more button -->
            <div class='dropdown'>
              <li><a class='nav-options dropdown-btn' href='#'>Learn More
                  <i class='fa fa-caret-down'></i>
                </a></li>
              <div class='dropdown-content'>
                <a href='/about-diabetes'>About Diabetes</a>
                <a href='/about-website'>About Website</a>
              </div>
            </div>

            <!-- log in/ log out button based on current authentication state -->
            {{#if loggedin}}
              <form class='logout' action='/logout' method='post'>
                <input class='btn' type='submit' value='Logout' />
              </form>
            {{else}}
              <a class='btn' href='/login'>Login</a>
            {{/if}}

          </ul>
        </div>
      </nav>

    </header>

    <main>

      {{{body}}}

    </main>

    <footer>

      <h3>Diabetes@Home</h3>

      <ul>
        {{#if loggedin}}
          {{! <li>
            <form action="/logout" method="post">
              <a href='/' type="submit">Logout</a>
            </form>
          </li> }}
        {{else}}
          <li><a href='/login'>Login</a></li>
        {{/if}}
        <li><a href='/about-diabetes'>About diabetes</a></li>
        <li><a href='/about-website'>About website</a></li>
      </ul>

    </footer>

  </body>
  <script src='/js/script.js'></script>
</html>
