<div class='heading'>
  <h1 class='page-title'>G'day {{clinician.first_name}}!</h1>
</div>
<p class='sub-heading'>Here is your patient list.</p>

<div class='table-container'>
  <table class='patient-list'>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Blood glucose level (nmo/L)</th>
      <th>Weight (kg)</th>
      <th>Insulin (doses)</th>
      <th>Steps</th>
    </tr>
    {{#each patients}}
      <tr class='patient-data-content-row'>
        <td class='profile-data'>
          <button onclick="toggle('{{this._id}}')" class='toggle-overlay'>
            <i id='button-{{this._id}}' class='fa fa-chevron-right'></i>
          </button>

          <img class='patient-overview-profile-image' src='/assets/brian.svg' />
          <a href='/clinician/patient-profile/{{this.username}}'>
            <p class='names'>{{this.first_name}} {{this.last_name}}</p>
          </a>
        </td>

        <td>
          <div class='label {{showStatus this.daily_data}}'></div>
        </td>
        {{#each this.daily_data}}
          {{#each this.values}}
            <td class='content {{this.status}}'>{{this.value}}</td>
          {{/each}}
        {{/each}}
      </tr>
      <tr>
        <td colspan='7' class='warning-container'>
          <div
            class='warning-box {{showStatus this.daily_data}}'
            id='{{this._id}}'
          >
            {{#each this.daily_data}}
              {{#each this.values}}
                {{#if this.status}}
                  <div class='patient-data-warning'>
                    <img
                      class='warning-image'
                      src='/assets/{{this.status}}.svg'
                    />

                    <div class='text-container'>
                      <h3 class='warning-header'>{{showTypeName this.type}}</h3>
                      <span class='content warning-explanation'>
                        {{showWarningText this.status}}
                      </span>
                      {{#if this.comment}}
                        <br />
                        <span class='content warning-explanation'>
                          <b>Comment:</b>
                          {{this.comment}}
                        </span>
                      {{/if}}
                    </div>
                  </div>
                {{/if}}

              {{/each}}
            {{/each}}

          </div>
          <!-- end of warning box -->
        </td>
      </tr>
    {{/each}}
  </table>
</div>