<div class='heading'>
  <h1 class='page-title'>Leaderboard</h1>
</div>

<div class='leaderboard-content'>
  <div class='podium-container'>
    <div class='podium-item'>
      <p class='podium-patient'>{{patients.1.username}}</p>
      <div class='podium-rank second'>2</div>
    </div>

    <div class='podium-item'>
      <p class='podium-patient'>{{patients.0.username}}</p>
      <img class='star-image' src='/assets/star.svg' />
      <div class='podium-rank first'>1</div>
    </div>

    <div class='podium-item'>
      <p class='podium-patient'>{{patients.2.username}}</p>
      <div class='podium-rank third'>3</div>
    </div>
  </div>
</div>

<div class='table-container'>
  <table class='leaderboard-table'>
    <tr>
      <th>User</th>
      <th>Score</th>
    </tr>

    {{#each patients}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.score}}</td>
      </tr>
    {{/each}}
  </table>
</div>
