<div class='heading'>
  <h1 class='page-title'>G'day {{username}}</h1>

  <!-- achievement/badge here -->

</div>

<div class='patient-db-content'>

  <div class='record-data-container'>
    <h2 class='sub-heading'>Record today's data</h2>
    <form class='input-container' action='' method='get'>
      {{#each data.required_data}}
        <div class='input-box'>
          <label for='{{this}}'>{{this}}</label>
          <input id='{{this}}' type='number' />
          <textarea placeholder='additional comments here...'></textarea>
        </div>
      {{/each}}
      <input type='submit' value='Update' class='submit-btn' />
    </form>
  </div>

  <div class='history-container'>
    <h2 class='sub-heading'>Recent History</h2>
    <div class='table-container'>
      <table class='medical-history-table'>
        <tr>
          <th>Date</th>
          {{#each data.required_data}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
        {{#each data.daily_data}}
          <tr>
            <td>{{this.date_recorded}}</td>
            <td>{{this.blood_glucose_level.value}}</td>
            <td>{{this.weight.value}}</td>
            <td>{{this.insulin.value}}</td>
            <td>{{this.exercise.value}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class='leaderboard-container'>
    <h2 class='sub-heading'>This week's standing</h2>
    <!-- top 3 podium here -->
    <div class='podium-container'>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-second'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-first'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-third'></div>
      </div>
    </div>
  </div>

</div>

<div class='support-message'>
  <h3>{{message}}</h3>
</div>
