<div class='heading'>
  <h1 class='page-title'>G'day {{patient.first_name}}!</h1>
  <!-- achievement/badge here -->
  <div class='achievement-badge'>
    <img src='/assets/badge.svg' />
    <h2 class='engagement-score'>82%</h2>
  </div>

</div>

<div class='patient-db-content'>

  <div class='record-data-container'>
    <h2 class='sub-heading'>Record today's data</h2>

    <!-- make the progress bar respond to the completion rate -->

    {{#if (today_data patient.daily_data)}}
      <!-- hard coded for now -->
      <div class='progress-bar' style='--completion-rate: {{completionRate patient.daily_data}}%'></div>
      <form class='input-container' method='post'>
        {{#each patient.thresholds}}
          <div class='input-box'>

          {{#if (strEqual this.type 'blood_glucose')}}
            <label for='blood'>Blood glucose level (nmo/L)</label>
            <input name='blood' id='blood' type='number' step='0.01' />
            <textarea
              name='blood_comment'
              id='blood_comment'
              placeholder='additional comments here...'
            ></textarea>

          {{else if (strEqual this.type 'weight')}}
            <label for='weight'>Weight (kg)</label>
            <input name='weight' id='weight' type='number' step='0.01' />
            <textarea
              name='weight_comment'
              id='weight_comment'
              placeholder='additional comments here...'
            ></textarea>

          {{else if (strEqual this.type 'insulin')}}
            <label for='insulin'>Insulin (doses)</label>
            <input name='insulin' id='insulin' type='number' />
            <textarea
              name='insulin_comment'
              id='insulin_comment'
              placeholder='additional comments here...'
            ></textarea>

          {{else}}
            <label for='steps'>Exercise (steps)</label>
            <input name='steps' id='steps' type='number' />
            <textarea
              name='steps_comment'
              id='steps_comment'
              placeholder='additional comments here...'
            ></textarea>
          {{/if}}

          </div>
        {{/each}}
        <input type='submit' value='Update' class='btn yellow-btn' />
      </form>
    {{else}}
      <!-- hard coded for now -->
      <div class='progress-bar' style='--completion-rate: 100%'></div>
      <h3 style='text-align: center'>All done for the day!</h3>
    {{/if}}
  </div>

  <div class='history-container'>
    <h2 class='sub-heading'>Recent History</h2>
    <div class='table-container'>
      <table class='medical-history-table'>
        <tr>
          <th>Date</th>
          <th>Blood glucose level</th>
          <th>Weight</th>
          <th>Insulin</th>
          <th>Steps</th>
        </tr>
        {{#each patient.daily_data}}
          <tr>
            <td>{{format_date this.when}}</td>
            {{#each values}}
              <td>{{this.value}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class='leaderboard-container'>
    <h2 class='sub-heading'>This week's standing</h2>
    <!-- top 3 podium here -->
    <div class='podium-container'>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-second'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-first'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-third'></div>
      </div>
    </div>
  </div>

</div>

<div class='support-message'>
  <h3>{{patient.clinicians_message}}</h3>
</div>