<div class='heading'>
  <h1 class='page-title'>G'day {{data.first_name}}</h1>

  <!-- achievement/badge here -->
  <div class='achievement-badge'>
    <img src='assets/badge.svg' />
    <h2 class='completion-rate'>82%</h2>
  </div>

</div>

<div class='patient-db-content'>

  <div class='record-data-container'>
    <h2 class='sub-heading'>Record today's data</h2>
    <div class='progress-bar'></div>
    <form class='input-container' action='/patient/{{data._id}}' method='POST'>
      {{#each data.required_data}}
        <div class='input-box'>
          <label for='{{this.data_type}}'>{{this.display_text}}</label>
          {{#unless this.completed}}
            <input name='{{this.data_type}}' type='number' />
            <textarea
              name='{{this.data_type}}'
              placeholder='additional comment here...'
            ></textarea>
          {{else}}

          {{/unless}}
        </div>
      {{/each}}
      <input type='submit' value='Update' class='submit-btn' />
    </form>
  </div>

  <div class='history-container'>
    <h2 class='sub-heading'>Recent History</h2>
    <div class='table-container'>
      <table class='medical-history-table'>
        <tr>
          <th>Date</th>
          {{#each data.required_data}}
            <th>{{this.display_text}}</th>
          {{/each}}
        </tr>
        {{#each data.daily_data}}
          <tr>
            <td>{{this.date_recorded}}</td>
            <td>{{this.blood_glucose_level.value}}</td>
            <td>{{this.weight.value}}</td>
            <td>{{this.insulin.value}}</td>
            <td>{{this.exercise.value}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class='leaderboard-container'>
    <h2 class='sub-heading'>This week's standing</h2>
    <!-- top 3 podium here -->
    <div class='podium-container'>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-second'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-first'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-third'></div>
      </div>
    </div>
  </div>

</div>

<div class='support-message'>
  <h3>{{message}}</h3>
</div>
