<div class='profile-container'>
  <div class='left-profile-box'>
    <div class='profile-circle'></div>
    <div class='profile-name-row'>
      <h4>Screen Name:</h4>
      <h4 class='profile-screenName'>{{patient.username}}</h4>
    </div>
    <div class='profile-name-row'>
      <h4>First Name:</h4>
      <h4 class='profile-screenName'>{{patient.first_name}}</h4>
    </div>
    <div class='profile-name-row'>
      <h4>Last Name:</h4>
      <h4 class='profile-screenName'>{{patient.last_name}}</h4>
    </div>

    <div class='scroll-box'>
      <span>
        <p class='filter'>filter by </p>
      </span>
      <div class='scroll-links'>
        <a href='#today-health-date'><h3>Current Health Data</h3></a>
        <a href='#health-history'><h3>Health History</h3></a>
        <a href='#set-time-series'><h3>Set Time-Series</h3></a>
        <a href='#set-threshold'><h3>Set Threshold</h3></a>
        <a href='#clinical-notes'><h3>Clinical Notes</h3></a>
        <a href='#support-messages'><h3>Support Messages</h3></a>
      </div>
    </div>

    <a href=''><h3 id='view-patient-comment'>View patient's comments</h3></a>
  </div>

  <div class='right-profile-box'>
    <div class='patient-bio'>
      <p>Bio</p>
      <h4>{{patient.bio}}</h4>
    </div>

    <div id='today-health-date' class='profile-divider'>
      <h3 class='title-profile'>Current Health Data</h3>
      <div class='health-data-row'>
        <div class='item-health-data'>
          <div class='data-box'>
            <h1>{{getCurrentData patient.daily_data 0}}</h1>
          </div>
          <p>Blood glucose level (nmo/L)</p>
        </div>

        <div class='item-health-data'>
          <div class='data-box'>
            <h1>{{getCurrentData patient.daily_data 1}}</h1>
          </div>
          <p>Weight (kg)</p>
        </div>
      </div>
      <div class='health-data-row'>
        <div class='item-health-data'>
          <div class='data-box'>
            <h1>{{getCurrentData patient.daily_data 2}}</h1>
          </div>
          <p>Insulin (doses)</p>
        </div>

        <div class='item-health-data'>
          <div class='data-box'>
            <h1>{{getCurrentData patient.daily_data 3}}</h1>
          </div>
          <p>Exercise (steps)</p>
        </div>
      </div>
    </div>

    <div id='health-history' class='profile-divider'>
      <h3 class='title-profile'>Health History</h3>
      <table class='medical-history-table' id='profile-table'>
        <tr>
          <th>Date</th>
          <th>Blood glucose level</th>
          <th>Weight</th>
          <th>Insulin</th>
          <th>Steps</th>
        </tr>
        {{#each patient.daily_data}}
          <tr>
            <td>{{format_date this.when}}</td>
            {{#each values}}
              <td>{{this.value}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
    </div>

    <div id='set-time-series' class='profile-divider'>
      <h3 class='title-profile'>Set Time-Series</h3>
      <form method='post'>
        <div class='set-row'>
          <div class='set-data'>
            <p class='title-profile'>Blood Glucose Level</p>
            <div class='set-input'>
              <input
                type='number'
                min='1'
                max='100'
                step='1'
                value='1'
                id='bloodGlucoseLeveltime'
              />
              <span><p> Hours</p></span>
            </div>
          </div>

          <div class='set-data'>
            <p class='title-profile'>Weight</p>
            <div class='set-input'>
              <input
                type='number'
                min='1'
                max='100'
                step='1'
                value='1'
                id='weighttime'
              />
              <span><p> Hours</p></span>
            </div>
          </div>
        </div>

        <div class='set-row'>
          <div class='set-data'>
            <p class='title-profile'>Insulin</p>
            <div class='set-input'>
              <input
                type='number'
                min='1'
                max='100'
                step='1'
                value='1'
                id='insulintime'
              />
              <span><p> Hours</p></span>
            </div>
          </div>

          <div class='set-data'>
            <p class='title-profile'>Exercise</p>
            <div class='set-input'>
              <input
                type='number'
                min='1'
                max='100'
                step='1'
                value='1'
                id='exercisetime'
              />
              <span><p> Hours</p></span>
            </div>
          </div>
        </div>
        <div class='set-row'>
          <input type='submit' value='Update' class='btn yellow-btn center' />
        </div>
      </form>
    </div>

    <div id='set-threshold' class='profile-divider'>
      <h3 class='title-profile'>Set Threshold</h3>
      <form method='post'>
        {{#each patient.thresholds}}
          <div class='set-row'>
            {{#if (strEqual this.type 'blood_glucose')}}
              <div class='set-data'>
                <p class='title-profile'>Blood Glucose Level</p>
                <div class='set-input'>
                  <span><p>Min:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.lower}}'
                    id='bloodGlucoseLevelmin'
                  />
                  <span><p>Max:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.upper}}'
                    id='bloodGlucoseLevelmax'
                  />
                </div>
              </div>
            {{/if}}
            {{#if (strEqual this.type 'weight')}}
              <div class='set-data'>
                <p class='title-profile'>Weight</p>
                <div class='set-input'>
                  <span><p>Min:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.lower}}'
                    id='weightmin'
                  />
                  <span><p>Max:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.upper}}'
                    id='weightmax'
                  />
                </div>
              </div>
            {{/if}}
          </div>

          <div class='set-row'>
            {{#if (strEqual this.type 'insulin')}}
              <div class='set-data'>
                <p class='title-profile'>Insulin</p>
                <div class='set-input'>
                  <span><p>Min:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.lower}}'
                    id='insulinmin'
                  />
                  <span><p>Max:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.upper}}'
                    id='insulinmax'
                  />
                </div>
              </div>
            {{/if}}
            {{#if (strEqual this.type 'exercise')}}
              <div class='set-data'>
                <p class='title-profile'>Exercise</p>
                <div class='set-input'>
                  <span><p>Min:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.lower}}'
                    id='exercisemin'
                  />
                  <span><p>Max:</p></span>
                  <input
                    type='number'
                    min='1'
                    max='100'
                    step='1'
                    value='{{this.upper}}'
                    id='exercisemax'
                  />
                </div>
              </div>
            {{/if}}
          </div>
        {{/each}}
        <div class='set-row'>
          <input type='submit' value='Update' class='btn yellow-btn center' />
        </div>
      </form>
    </div>

    <div id='clinical-notes' class='profile-divider'>
      <h3 class='title-profile'>Clinical Notes</h3>
      <form method='post'>
        <div class='text-border center'>
          <textarea
            name='clinicalNotes'
            id='clinicalNotes'
            rows='4'
            placeholder='write clinical notes here...'
          ></textarea>
          <div>
            <button>
              <i class='fa fa-paper-plane' aria-hidden='true'></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div id='support-messages' class='profile-divider'>
      <h3 class='title-profile'>Support Messages</h3>
      <form method='post'>
        <div class='text-border center'>
          <textarea
            name='supportMessage'
            id='supportMessage'
            rows='4'
            placeholder='write your personalise support message here...'
          ></textarea>
          <div>
            <button>
              <i class='fa fa-paper-plane' aria-hidden='true'></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>