<div class='patient-profile-container'>

  <div class='left-profile-box'>
    <div class="image-cropper">
      <img class="patient-profile-avatar" src='/assets/avatar_{{patient.avatar_index}}.svg' />
    </div>
    

    <div class='profile-name-row'>
      <h4>Screen Name:</h4>
      <h4 class='profile-screenName'>{{patient.username}}</h4>
    </div>
    <div class='profile-name-row'>
      <h4>First Name:</h4>
      <h4 class='profile-screenName'>{{patient.first_name}}</h4>
    </div>
    <div class='profile-name-row'>
      <h4>Last Name:</h4>
      <h4 class='profile-screenName'>{{patient.last_name}}</h4>
    </div>

    <div class='scroll-links'>
      <a href='#health-data-title'><p>Today's Health Data</p></a>
      <a href='#health-history-title'><p>Health History</p></a>
      <a href='#clinical-note-history-title'><p>Clinical Note History</p></a>
      <a href='#time-series-title'><p>Set Time-Series</p></a>
      <a href='#clinical-notes-title'><p>Clinical Notes</p></a>
      <a href='#support-messages-title'><p>Support Messages</p></a>
    </div>

    <a href='/clinician/patient-comments#{{patient.username}}'><p id='view-patient-comment'>View patient's comments</p></a>
  </div>

  <div class='right-profile-box'>
    <div class='patient-bio section'>
      <p>Bio</p>
      <h4>{{patient.bio}}</h4>
    </div>

    <div class='section'>
      <h3 id='health-data-title' class='title-profile'>Today's Health Data</h3>
      <div id='today-health-data'>

        <div class='health-data-item'>
          <div class='data-box'>
            <h2>{{getCurrentData patient.daily_data 0}}</h2>
          </div>
          <p>Blood glucose level (nmo/L)</p>
        </div>
        <div class='health-data-item'>
          <div class='data-box'>
            <h2>{{getCurrentData patient.daily_data 1}}</h2>
          </div>
          <p>Weight (kg)</p>
        </div>
        <div class='health-data-item'>
          <div class='data-box'>
            <h2>{{getCurrentData patient.daily_data 2}}</h2>
          </div>
          <p>Insulin (doses)</p>
        </div>
        <div class='health-data-item'>
          <div class='data-box'>
            <h2>{{getCurrentData patient.daily_data 3}}</h2>
          </div>
          <p>Exercise (steps)</p>
        </div>
      </div>
    </div>

    <div class='section'>
      <h3 id='health-history-title' class='title-profile'>Health History</h3>
      <div id='health-history'>

        <table class='medical-history-table' id='profile-table'>
          <tr>
            <th>Date</th>
            <th>Blood glucose level</th>
            <th>Weight</th>
            <th>Insulin</th>
            <th>Steps</th>
          </tr>
          {{#each patient.daily_data}}
            <tr>
              <td>{{format_date this.when}}</td>
              {{#each values}}
                <td>{{this.value}}</td>
              {{/each}}
            </tr>
          {{/each}}
        </table>

      </div>
    </div>

    <div class='section'>
      <h3 id='clinical-note-history-title' class='title-profile'>Clinical Note History</h3>
      <div id='clinical-note-history'>

        <table class='clinical-note-history-table' id='profile-table'>
          <tr>
            <th>Date</th>
            <th>Clinical Notes</th>
          </tr>
          {{#each patient.clinical_notes}}
            <tr>
              <td>{{format_date this.when}}</td>
              <td>{{this.note}}</td>
            </tr>
          {{/each}}
        </table>

      </div>
    </div>

    <div class='form-container section'>
      <h3 id='time-series-title' class='title-profile'>Set Time-Series</h3>
      <form id='set-time-series' method='post' action='set-thresholds/{{patient._id}}'>
        {{!-- <input type='hidden' name='patient_id' value='{{patient._id}}' /> --}}
        <div class='set-data'>
          <p class='title-profile'>Blood glucose level (nmo/L)</p>
          <div class='set-input'>
            <label for='bloodRequired'>Enable</label>
            <input
              type='checkbox'
              name='bloodRequired'
              {{isRequiredData patient.thresholds 'blood_glucose'}}
              value='true'
            />
          </div>
          <div class='set-input'>
            <span><p>Min:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='0.1'
              name='bloodMin'
              value='{{showThreshold
                patient.thresholds
                "blood_glucose"
                "lower"
              }}'
            />
            <span><p>Max:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='0.1'
              name='bloodMax'
              value='{{showThreshold
                patient.thresholds
                "blood_glucose"
                "upper"
              }}'
            />
          </div>
        </div>

        <div class='set-data'>
          <p class='title-profile'>Weight (kg)</p>
          <div class='set-input'>
            <label for='weightRequired'>Enable</label>
            <input
              type='checkbox'
              name='weightRequired'
              {{isRequiredData patient.thresholds 'weight'}}
              value='true'
            />
          </div>
          <div class='set-input'>
            <span><p>Min:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='0.1'
              name='weightMin'
              value='{{showThreshold patient.thresholds "weight" "lower"}}'
            />
            <span><p>Max:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='0.1'
              name='weightMax'
              value='{{showThreshold patient.thresholds "weight" "upper"}}'
            />
          </div>
        </div>

        <div class='set-data'>
          <p class='title-profile'>Insulin (doses)</p>
          <div class='set-input'>
            <label for='insulinRequired'>Enable</label>
            <input
              type='checkbox'
              name='insulinRequired'
              {{isRequiredData patient.thresholds 'insulin'}}
              value='true'
            />
          </div>
          <div class='set-input'>
            <span><p>Min:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='1'
              name='insulinMin'
              value='{{showThreshold patient.thresholds "insulin" "lower"}}'
            />
            <span><p>Max:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='1'
              name='insulinMax'
              value='{{showThreshold patient.thresholds "insulin" "upper"}}'
            />
          </div>
        </div>

        <div class='set-data'>
          <p class='title-profile'>Exercise (steps)</p>
          <div class='set-input'>
            <label for='stepsRequired'>Enable</label>
            <input
              type='checkbox'
              name='stepsRequired'
              {{isRequiredData patient.thresholds 'exercise'}}
              value='true'
            />
          </div>
          <div class='set-input'>
            <span><p>Min:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='1'
              name='stepsMin'
              value='{{showThreshold patient.thresholds "steps" "lower"}}'
            />
            <span><p>Max:</p></span>
            <input
              type='number'
              min='1'
              max='100'
              step='1'
              name='stepsMax'
              value='{{showThreshold patient.thresholds "steps" "upper"}}'
            />
          </div>
        </div>
      </form>
      <input
        type='submit'
        form='set-time-series'
        value='Update'
        class='btn yellow-btn'
      />
    </div>

    <div class='section'>
      <h3 id='clinical-notes-title' class='title-profile'>Clinical Notes</h3>
      <form id='clinical-notes' method='post' action="clinical-note/{{patient._id}}">
        <div class='text-border'>
          <textarea
            name='clinicalNote'
            id='clinicalNotes'
            rows='4'
            placeholder='write clinical notes here...'
          ></textarea>
          <div>
            <button type='submit' form='clinical-notes'>
              <i class='fa fa-paper-plane' aria-hidden='true'></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class='section'>
      <h3 id='support-messages-title' class='title-profile'>Support Messages</h3>
      <form
        id='support-messages'
        method='post'
        action='support-message/{{patient._id}}'
      >
        <div class='text-border'>
          <textarea
            name='supportMessage'
            id='supportMessage'
            rows='4'
            placeholder='write your personalise support message here...'
          ></textarea>
          <div>
            <button type='submit' form='support-messages'>
              <i class='fa fa-paper-plane' aria-hidden='true'></i>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>