<div class='patient-comments-container'>
  <h1 class='page-title'>Patient Comments</h1>

  <div class='comments-container'>

    <div class='user-container'>
      {{#each patients}}
        <a
          class='user-box'
          onclick="commentToggle('{{this.username}}-comments')"
          href='#{{this.username}}'
        >{{this.first_name}} {{this.last_name}}</a>
      {{/each}}
    </div>

    <div class='content-container'>
      {{#each patients}}
        <div class='comment-content' id='{{this.username}}-comments'>
          {{#each this.daily_data}}
            {{#each this.values}}
              {{#if this.comment}}
                <p class='date'>{{format_date this.when}}</p>
                <p style='margin: 0; font-weight: 600;'>{{this.type}}:
                  {{this.value}}</p>
                <p class='content-values'>
                  {{this.comment}}
                </p>
              {{/if}}
            {{/each}}
          {{/each}}
        </div>
      {{/each}}
    </div>

  </div>
</div>