<div class='heading'>
  <h1 class='page-title'>G'day {{patient.first_name}}!</h1>
  <!-- achievement/badge here -->
  <div class='achievement-badge'>
    <img src='/assets/badge.svg' />
    <h2 class='engagement_score'>5%</h2>
  </div>

</div>

<div class='patient-db-content'>

  <div class='record-data-container'>
    <h2 class='sub-heading'>Record today's data</h2>

    <!-- make the progress bar respond to the completion rate -->

    {{#if (today_data patient.daily_data)}}
      <form class='input-container' method='post'>
        <div class='input-box'>
          <label for='blood'>Blood glucose level (nmo/L)</label>
          <input name='blood' id='blood' type='number' step='0.01' />
          <textarea
            name='blood_comment'
            id='blood_comment'
            placeholder='additional comments here...'
          ></textarea>
        </div>
        <div class='input-box'>
          <label for='weight'>Weight (kg)</label>
          <input name='weight' id='weight' type='number' step='0.01' />
          <textarea
            name='weight_comment'
            id='weight_comment'
            placeholder='additional comments here...'
          ></textarea>
        </div>
        <div class='input-box'>
          <label for='insulin'>Insulin (doses)</label>
          <input name='insulin' id='insulin' type='number' />
          <textarea
            name='insulin_comment'
            id='insulin_comment'
            placeholder='additional comments here...'
          ></textarea>
        </div>
        <div class='input-box'>
          <label for='steps'>Exercise (steps)</label>
          <input name='steps' id='steps' type='number' />
          <textarea
            name='steps_comment'
            id='steps_comment'
            placeholder='additional comments here...'
          ></textarea>
        </div>
        <input type='submit' value='Update' class='submit-btn' />
      </form>
    {{else}}
      <p>All done for the day!</p>
    {{/if}}
  </div>

  <div class='history-container'>
    <h2 class='sub-heading'>Recent History</h2>
    <div class='table-container'>
      <table class='medical-history-table'>
        <tr>
          <th>Date</th>
          <th>Blood glucose level</th>
          <th>Weight</th>
          <th>Insulin</th>
          <th>Steps</th>
        </tr>
        {{#each patient.daily_data}}
          <tr>
            <td>{{format_date this.when}}</td>
            {{#each values}}
              <td>{{this.value}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class='leaderboard-container'>
    <h2 class='sub-heading'>This week's standing</h2>
    <!-- top 3 podium here -->
    <div class='podium-container'>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-second'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-first'></div>
      </div>
      <div class='podium-item'>
        <div class='podium-avatar'></div>
        <div class='podium-third'></div>
      </div>
    </div>
  </div>

</div>

<div class='support-message'>
  <h3>{{patient.clinicians_message}}</h3>
</div>