<div class='heading'>
  <h1 class='page-title'>G'day {{username}}</h1>

  <!-- achievement/badge here -->

</div>

<div class='patient-db-content'>

  <div class='record-data-container'>
    <h2 class='sub-heading'>Record today's data</h2>

    <form class='input-container' action='' method='get'>
      <!-- replace with required data? -->
      {{#each health_data}}
        <div class='input-box'>
          <label for='{{this.id}}'>{{this.name}}</label>
          <input id='{{this.id}}' type='number' />
          <textarea placeholder='additional comments here...'></textarea>
        </div>
      {{/each}}

      <input type='submit' value='Update' class='submit-btn' />

    </form>

  </div>

  <div class='history-container'>
    <h2 class='sub-heading'>Recent History</h2>

    <!-- kinda hard-coded. extract only the required data? -->
    <div class='table-container'>
      <table class='medical-history-table'>
        <tr>
          <th>Date</th>
          <th>Blood Glucose Level</th>
          <th>Weight</th>
          <th>Insulin</th>
          <th>Exercise</th>
        </tr>
        <tr>
          <!-- either .value or other ways to actually get the value -->
          {{#each daily_data}}
            <td>{{this.data_recorded}}</td>
            <td>{{this.blood_glucose_level.value}}</td>
            <td>{{this.weight.value}}</td>
            <td>{{this.insulin_doses.value}}</td>
            <td>{{this.exercise_steps.value}}</td>
          {{/each}}
        </tr>
      </table>
    </div>

  </div>

  <div class='leaderboard-container'>
    <h2 class='sub-heading'>This week's standing</h2>

    <!-- top 3 podium here -->

  </div>

</div>

<div class='support-message'>
  <h3>Hi Alice - good job for reaching 50,000 steps this week! 😃</h3>
</div>