<div class='heading'>
  <h1 class='page-title'>Edit Profile Setting</h1>
</div>

<form class='setting-container' method='post'>

  <div class='left-setting-box'>

    <div class='profile-container'>
      <div class='image-cropper'>
        <img
          id='profile-setting-avatar'
          class='patient-profile-avatar'
          src='/assets/avatar_{{patient.avatar_index}}.svg'
        />
      </div>

      <p>Select your avatar</p>
      <div class='choosing-area'>
<<<<<<< HEAD
        <div>
          <input type='radio' id='choiceAvatar0' name='avatar' value='avatar0'>
          <label for='choiceAvatar0'> 
            <img class='icon-choices' src='/assets/avatar_0.svg' />
          </label>
        </div>

        <div>
          <input type='radio' id='choiceAvatar1' name='avatar' value='avatar1'>
          <label for='choiceAvatar1'> 
            <img class='icon-choices' src='/assets/avatar_1.svg' />
          </label>
        </div>

        <div>
          <input type='radio' id='choiceAvatar2' name='avatar' value='avatar2'>
          <label for='choiceAvatar2'> 
            <img class='icon-choices' src='/assets/avatar_2.svg' />
          </label>
        </div>

        <div>
          <input type='radio' id='choiceAvatar3' name='avatar' value='avatar3'>
          <label for='choiceAvatar3'> 
            <img class='icon-choices' src='/assets/avatar_3.svg' />
          </label>
        </div>

        <div>
          <input type='radio' id='choiceAvatar4' name='avatar' value='avatar4'>
          <label for='choiceAvatar4'> 
            <img class='icon-choices' src='/assets/avatar_4.svg' />
          </label>
        </div>

=======
        {{#each (range 5)}}
          <input
            type='radio'
            name='profile-avatar'
            value='{{this}}'
            onclick="toggleAvatar('{{this}}', 'profile-setting-avatar')"
          />
          <img class='icon-choices' src='/assets/avatar_{{this}}.svg' />
        {{/each}}
        {{! <img class='icon-choices' src='/assets/brian.svg' />
        <img class='icon-choices' src='/assets/steven.svg' />
        <img class='icon-choices' src='/assets/ivan.svg' />
        <img class='icon-choices' src='/assets/james.svg' />
        <img class='icon-choices' src='/assets/gerald.svg' /> }}
>>>>>>> refs/remotes/origin/main
      </div>

    </div>

    <button type='submit' class='update-btn btn yellow-btn'>Update</button>

  </div>

  <div class='right-setting-box'>

    <div class='input-row'>

      <div class='input-box'>
        <label for='clinician-id'>Email</label>
        <input name='email' id='email' type='email' value='{{patient.email}}' />
      </div>

      <div class='input-box'>
        <label for='clinician-screenName'>Username</label>
        <input
          name='screenName'
          id='screenName'
          type='text'
          value='{{patient.username}}'
        />
      </div>

    </div>

    <div class='input-row'>

      <div class='input-box'>
        <label for='clinician-firstName'>First Name</label>
        <input
          name='firstName'
          id='firstName'
          type='text'
          value='{{patient.first_name}}'
        />
      </div>

      <div class='input-box'>
        <label for='clinician-lastName'>Last Name</label>
        <input
          name='lastname'
          id='lastname'
          type='text'
          value='{{patient.last_name}}'
        />
      </div>

    </div>

    <div class='input-row'>

      <div class='input-box'>
        <label for='clinician-password'>Password</label>
        <input
          name='password'
          id='password'
          type='password'
          value='{{patient.password}}'
        />
      </div>

    </div>

    <div class='input-row'>
      <div class='input-box bio'>
        <label for='clinician-bio'>Bio</label>
        <textarea name='bio' id='bio' cols='4'>{{patient.bio}}</textarea>
      </div>
    </div>

  </div>

</form>