<div class='heading'>
  <h1 class='page-title'>Edit Profile Setting</h1>
</div>

<form class='setting-container' method='post'>

  <div class='left-setting-box'>

    <div class='profile-container'>
      <div class='profile-circle'>
      </div>

      <p>Select your avatar</p>
      <div class='choosing-area'>
        <img class='icon-choices' src='/assets/brian.svg' />
        <img class='icon-choices' src='/assets/steven.svg' />
        <img class='icon-choices' src='/assets/ivan.svg' />
        <img class='icon-choices' src='/assets/james.svg' />
        <img class='icon-choices' src='/assets/gerald.svg' />
      </div>

    </div>

    <button type='submit' class='update-btn btn yellow-btn'>Update</button>

  </div>

  <div class='right-setting-box'>

    <div class='input-row'>

      <div class='input-box'>
        <label for='clinician-id'>Email</label>
        <input name='email' id='email' type='email' value='{{patient.email}}' />
      </div>

      <div class='input-box'>
        <label for='clinician-screenName'>Username</label>
        <input
          name='screenName'
          id='screenName'
          type='text'
          value='{{patient.username}}'
        />
      </div>

    </div>

    <div class='input-row'>

      <div class='input-box'>
        <label for='clinician-firstName'>First Name</label>
        <input
          name='firstName'
          id='firstName'
          type='text'
          value='{{patient.first_name}}'
        />
      </div>

      <div class='input-box'>
        <label for='clinician-lastName'>Last Name</label>
        <input
          name='lastname'
          id='lastname'
          type='text'
          value='{{patient.last_name}}'
        />
      </div>

    </div>

    <div class='input-row'>

      <div class='input-box'>
        <label for='clinician-password'>Password</label>
        <input
          name='password'
          id='password'
          type='password'
          value='{{patient.password}}'
        />
      </div>

    </div>

    <div class='input-row'>
      <div class='input-box bio'>
        <label for='clinician-bio'>Bio</label>
        <textarea name='bio' id='bio' cols='4'>{{patient.bio}}</textarea>
      </div>
    </div>

  </div>

</form>
